<header>
  <link rel="icon" type="image/x-icon" href="img/logo_mesa_digital.png">
</header>
<div class="container d-flex justify-content-center align-items-center login-container">
  <div class="login-box text-center">
    <img src="assets/img/logo_mesa_digital.png" alt="Logo" class="logo" />
    <h2 class="mb-4">Restablecer Contraseña</h2>

    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <!-- Email -->
      <div class="mb-3 text-start">
        <label for="email" class="form-label">Correo electrónico</label>
        <input
          type="email"
          id="email"
          class="form-control"
          formControlName="email"
          placeholder="nombre@ejemplo.com"
          [ngClass]="{ 'is-invalid': submitted && email.invalid }"
        />
        <div class="invalid-feedback" *ngIf="submitted && email.errors?.['required']">
          El correo es obligatorio.
        </div>
        <div class="invalid-feedback" *ngIf="submitted && email.errors?.['email']">
          El formato del correo es inválido.
        </div>
      </div>

      <!-- Nueva contraseña -->
      <div class="mb-3 text-start">
        <label for="new-password" class="form-label">Nueva contraseña</label>
        <input
          type="password"
          id="new-password"
          class="form-control"
          formControlName="newPassword"
          placeholder="Nueva contraseña"
          [ngClass]="{ 'is-invalid': submitted && newPassword.invalid }"
        />
        <div class="invalid-feedback" *ngIf="submitted && newPassword.errors?.['required']">
          La contraseña es obligatoria.
        </div>
        <div class="invalid-feedback" *ngIf="submitted && newPassword.errors?.['pattern']">
          Debe tener entre 8 y 20 caracteres, incluir mayúscula, minúscula, número y símbolo.
        </div>
      </div>

      <!-- Confirmar contraseña -->
      <div class="mb-3 text-start">
        <label for="confirm-password" class="form-label">Repetir contraseña</label>
        <input
          type="password"
          id="confirm-password"
          class="form-control"
          formControlName="confirmPassword"
          placeholder="Repetir contraseña"
          [ngClass]="{ 'is-invalid': submitted && confirmPasswordInvalid }"
        />
        <div class="invalid-feedback" *ngIf="submitted && confirmPassword.errors?.['required']">
          Confirma tu contraseña.
        </div>
        <div class="invalid-feedback" *ngIf="submitted && resetForm.errors?.['noCoincide']">
          Las contraseñas no coinciden.
        </div>
      </div>

      <button type="submit" class="btn btn-dark w-100">Restablecer</button>
    </form>

    <div class="mt-4">
      ¿Ya tienes cuenta?
      <a routerLink="/login" class="fw-bold">Inicia sesión</a>
    </div>
  </div>
</div>