<app-nav></app-nav>

<header>
  <link rel="icon" type="image/x-icon" href="img/logo_mesa_digital.png">
</header>

<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="w-100" style="max-width: 500px;">
    <h2 class="mb-4 text-center">Mi Perfil</h2>
    <form [formGroup]="perfilForm" (ngSubmit)="guardarCambios()">
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" formControlName="nombre"
          [ngClass]="{ 'is-invalid': campoInvalido('nombre') }">
        <div class="invalid-feedback" *ngIf="campoInvalido('nombre')">El nombre es obligatorio.</div>
      </div>

      <div class="mb-3">
        <label for="rut" class="form-label">RUT</label>
        <input type="text" class="form-control" id="rut" [value]="rut" readonly>
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Correo electrónico</label>
        <input type="email" class="form-control" id="email" formControlName="email"
          [ngClass]="{ 'is-invalid': campoInvalido('email') }">
        <div *ngIf="perfilForm.get('email')?.errors?.['emailInvalido'] && perfilForm.get('email')?.touched"
          class="text-danger">
          El formato de correo electrónico no es válido.
        </div>
      </div>

      <div class="mb-3">
        <label for="telefono" class="form-label">Teléfono</label>
        <input type="tel" class="form-control" id="telefono" formControlName="telefono"
          [ngClass]="{ 'is-invalid': campoInvalido('telefono') }">
        <div class="invalid-feedback" *ngIf="campoInvalido('telefono')">El teléfono debe tener 9 dígitos.</div>
      </div>

      <div class="mb-3">
        <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento</label>
        <input type="date" class="form-control" id="fechaNacimiento" formControlName="fechaNacimiento"
          [ngClass]="{ 'is-invalid': campoInvalido('fechaNacimiento') }">
        <div class="invalid-feedback" *ngIf="campoInvalido('fechaNacimiento')">Debes ser mayor de 13 años.</div>
      </div>

      <button type="submit" class="btn btn-dark w-100">Guardar Cambios</button>
    </form>
  </div>
</div>